################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Debug
/x64
/Win32
/Release
*.user
*.sln
*.obj
*.pdb
*.ilk
*.exp
*.lib
CppShell.*/
